@page
@model Zuber.Pages.GetProfileModel
@{
}
<h1>@Model.User.User.Name's Profile</h1>
<div class="row">
    <div class="col-md-4">
        <p>Name: @Model.GetUser.Name</p>
        <p>Email: @Model.GetUser.Email</p>
        <p>Phone number: @Model.GetUser.PhoneNo</p>
        <p>Driver: @Model.GetUser.Driver</p>
    </div>
</div>